# Домашнее задание по теме "работа с переменными"
Преподаватель: Алексей Миронов, Наталья Баданина, Дарья Максимова

Потренируем навыки, полученные на практическом занятии. 

Пользуясь новыми знаниями, проведите эксплоративный анализ данных на данных недвижимости Бостона, и попытайтесь обучить линейную модель наиболее качественно. Все ваши действия и решения описывайте в markdown.


Данные вы сможете получить исполнив следующий код:
from sklearn.datasets import load_boston
import pandas as pd
data = pd.read_csv(load_boston()[‘filename’], skiprows=1)
Переменная, которую надо предсказать - ’MEDV’.
Прочитать информацию о содержимом датасета:
print(load_boston()[‘DESCR’])


Если вы неудовлетворенны результатом, но лучшего решения предложить не можете, то высылайте задание на проверку.
Цель задания - закрепить полученные навыки.

# Imports

In [1]:
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns


from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score, cross_validate, KFold

# Load data

In [2]:
from sklearn.datasets import load_boston
load_boston().filename

'/home/dmi/anaconda3/lib/python3.7/site-packages/sklearn/datasets/data/boston_house_prices.csv'

In [3]:
from sklearn.datasets import load_boston
import pandas as pd
data = pd.read_csv(load_boston().filename, skiprows=1)
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [4]:
print(load_boston().DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [ ]:
sns.pairplot(data)

In [ ]:
plt.figure(figsize=(20,20))
sns.heatmap(data.corr(), annot = True, center= 0, cmap= 'coolwarm')

In [ ]:
y = data.MEDV
X = data.drop('MEDV', 1)
X

# Линейная регрессия на сырых данных (точка отсчета)

In [ ]:
reg = LinearRegression().fit(X, y)
reg.score(X, y)

In [ ]:
def get_score(X, y, random=42):

    score = []
    for n, (train, test) in enumerate(KFold(n_splits=5, random_state=random, shuffle=True).split(y)):

        reg = LinearRegression(normalize=True).fit(X.iloc[train], y.iloc[train])
        sc = reg.score(X.iloc[test], y.iloc[test])
        score.append(sc)
        print(f'Fold {n}, R^2 coeff = {sc}')
    print(f'mean R^2 = {np.array(score).mean()}')

get_score(X, y)

Получили значение коэффициента детерминации = 0.7152218388256885
от него и будем отталкиваться в оценке новых моделей

## Целевая переменная

In [ ]:
y.hist()

In [ ]:
y.value_counts()

Значения целевой переменной равные 50 могут быть заменой неизвестных либо иных  значений

In [ ]:
# Удаляем, я пробовал менять на среднее, медиану, но удалить наиболе эффективная тактика
X = X[y != 50]
y = y[y != 50]
X.shape, y.shape

In [ ]:
get_score(X,y)

# Признаки

In [ ]:
# В данных нет NA
X.isna().sum()

## Уровень преступности corr=-0.38

In [ ]:
plt.figure(figsize=(20, 10))
X.CRIM.hist(bins=20);

In [ ]:
X[X.CRIM > 30]

In [ ]:
y[X.CRIM > 30].mean(), y[X.CRIM <= 30].mean(), y.mean()

Распределение признака уровень преступгости не нормальное, с выбросами.

Так объектов, с уровнем преступности более 30 всего 8 шт.

Однако они очень сильно влияют не значение целевой переменной, поэтому оставляем их как есть,

Добавляем еще один признак с логарифмированными значениями этой переменной

In [ ]:
plt.figure(figsize=(20, 10))
np.log(X.CRIM).hist();

In [ ]:
X['log_crim'] = np.log(X.CRIM)
get_score(X, y, random=42)

In [ ]:
np.corrcoef(X.log_crim, X.CRIM)

Признаки довольно сильно скоррелированы, это означает, то нам будет сложно интерпретировать модель

## Доля земли под жилую застройку  corr=0.36

In [ ]:
plt.figure(figsize=(20, 10))
X.ZN.hist(bins=50);

In [ ]:
plt.figure(figsize=(20, 10))
sns.regplot(X.ZN, y);

In [ ]:
X[X.ZN == 0]

Большинство значений этого признака равно нулю,

Сгенерируем новый признак, означающий, равен ли нулю предыдущий

In [ ]:
X['ZN_zero'] = 0
X['ZN_zero'][X.ZN == 0] = 1

In [ ]:
X.tail()

In [ ]:
get_score(X, y)

новый признак получился не очень информативным

In [ ]:
y[X.ZN == 0].mean(), y[X.ZN != 0].mean(), y.mean()

Генерируем еще один признак в котором все нули заменяем на медиану

In [ ]:
X['median_ZN'] = X.ZN
X.median_ZN[X.median_ZN == 0] = X.median_ZN[X.median_ZN != 0].median()
X.head()

In [ ]:
get_score(X, y)

In [ ]:
X.drop(['median_ZN', 'ZN_zero'], 1, inplace=True)
get_score(X, y)

 этот признак не улучшает качество модели

## INDUS    proportion of non-retail business acres corr=-0.48

In [ ]:
plt.figure(figsize=(20, 10))
sns.regplot(X.INDUS, y);

In [ ]:
plt.figure(figsize=(20, 10))
X.INDUS.hist(bins=50);

In [ ]:
y[X.INDUS <= X.INDUS.mean()].mean(), y[X.INDUS > X.INDUS.mean()].mean()

In [ ]:
np.corrcoef(y[X.INDUS <= X.INDUS.mean()], X.INDUS[X.INDUS <= X.INDUS.mean()])

In [ ]:
np.corrcoef(y[X.INDUS > X.INDUS.mean()], X.INDUS[X.INDUS > X.INDUS.mean()])

In [ ]:
X['indus'] = X.INDUS
X['indus'][X.INDUS > X.INDUS.mean()] = 1
X['indus'][X.INDUS <= X.INDUS.mean()] = 0

In [ ]:
get_score(X, y)

In [ ]:
X.drop(['indus'], 1, inplace=True)
get_score(X, y)

## CHAS  наличие реки

Чаще всего реки нет

In [ ]:
X.CHAS.value_counts()

## NOX - Концентрация оксидов азота  corr = -0.38

In [ ]:
X.NOX.hist()

In [ ]:
plt.figure(figsize=(20, 10))
sns.regplot(X.NOX, y);

## RM Среднее количество комнат в доме

In [ ]:
plt.figure(figsize=(20, 10))
sns.regplot(X.RM, y);

In [ ]:
X.RM.hist()

In [ ]:
73318377

## AGE доля домов, занимаемых владельцами, построенных до 1940 г

In [ ]:
X.AGE.hist()

In [ ]:
plt.figure(figsize=(20, 10))

sns.regplot(X.AGE, y);

In [ ]:
np.corrcoef(X.AGE, y)

## DIS взвешенные расстояния до пяти бостонских центров

In [ ]:
X.DIS.hist()

In [ ]:
plt.figure(figsize=(20, 10))

sns.regplot(X.DIS ** 0.5, y);
sns.regplot(X.DIS, y, color='red');

In [ ]:
np.corrcoef(X.DIS ** .05, y)

In [ ]:
X['dis'] = X.DIS ** 3
get_score(X, y)
# 0.7583599264126265

Получилась довольно информативкая эвристика, с непонятным физическим смыслом



Совершенно понятно, что в принципе возможно идеально приблизить целевую метрику полиномами n - степени

## RAD Индекс доступности радиальных автомобильных дорог

In [ ]:
X.RAD.hist()

In [ ]:
plt.figure(figsize=(20, 10))

sns.regplot(X.RAD[X.RAD<15], y[X.RAD<15]);

# TAX Ставка налога на имущество

In [ ]:
X.TAX.hist()

In [ ]:
X.TAX[X.TAX == 666] = 888

In [ ]:
get_score(X,y)
# 0.7594617355811056 888


Ставка налога 666 наверняка заменняет,  какие-то отсутстующие или иные значения

Для замены построим линейную регрессию

In [ ]:
tax_y = X.TAX
tax_X = X.drop('TAX', 1)

In [ ]:
tax_reg = LinearRegression(normalize=True).fit(tax_X, tax_y)
tax_reg.score(tax_X, tax_y)

In [ ]:
tax_pred = tax_reg.predict(tax_X)
X.TAX[X.TAX == 777] = tax_pred[X.TAX == 777]
get_score(X,y)

In [ ]:
plt.figure(figsize=(20, 10))
sns.regplot(X.TAX, X.RAD);

oorrcoef(X.RAD, X.TAX) = 0.91

In [ ]:
np.corrcoef(X.RAD, X.TAX)

In [ ]:
plt.figure(figsize=(20, 10))
sns.regplot(X.TAX + X.RAD, y);

In [ ]:
np.corrcoef((X.TAX * X.RAD)**0.5, y)

Добавляем новый признак (X.TAX * X.RAD)

In [ ]:
X['tax_rad'] = (X.TAX - X.RAD)
#X.drop(['TAX', 'RAD'], 1, inplace=True)

In [ ]:
get_score(X,y)

Признак не информативный

In [ ]:
X.drop(['tax_rad'], 1, inplace=True)
get_score(X,y)

## PTRATIO Соотношение учеников и учителей

In [ ]:
np.corrcoef(X.PTRATIO, y)

In [ ]:
X.PTRATIO.hist()

In [ ]:
plt.figure(figsize=(20, 10))
sns.regplot(X.PTRATIO, y);

## B доля черных по городам

In [ ]:
X.B.hist(bins=50)

In [ ]:
np.corrcoef(X.B[X.B<350], y[X.B<350])

In [ ]:
plt.figure(figsize=(20, 10))
sns.regplot(X.B, y);

In [ ]:
y[X.B<350].mean(), y[X.B>350].mean()

## LSTAT %  населения c низкиm статусom

In [ ]:
X.LSTAT.hist(bins=50)

In [ ]:
plt.figure(figsize=(20, 10))
sns.regplot(X.LSTAT, y);

In [ ]:
np.corrcoef(X.LSTAT ** 0.01, y)

In [ ]:
X['lstat'] = X.LSTAT ** 0.1

# 0.7594617355811056
get_score(X,y)

In [ ]:
X.drop(['LSTAT'], 1, inplace=True)
get_score(X,y)

LSTAT Достаточно сильный признак, при этом очевидно, зависимость нелинейная

## Итого:
Метрика на сырых данных 0.7152

После обработки  0.7894